.menu {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100px;   
    align-items: center;
}


.menu .barra{
    
    display: inline;
    text-decoration: underline;
}
.barra-uno  {
    margin-left: 20px;

}
.barra-dos {
    margin-right: 20px;
}