.container {
    background-color: chocolate;
    position: absolute;
    width: 100%;
    left: 30vh;
}
li {
    position: static;
    justify-content: space-between;
    margin-left: 60px;
}
