* {
    margin: 0;
    padding: 0;

}
:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    --fire-red: #cc212A; 
}
.main {
    border: solid black 2px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    width: 80%;
    color: var(--fire-red);
}
.footer {
    border-top: var(--fire-red) solid 3px;
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    
}
.ball {
    background-color: var(--fire-red);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    transform: translateY(-10px);
    color: white
}

@media all and (min-width: 768px) {
    .footer {
        padding: 15px 15px 10px 15px;
        flex-direction: row-reverse;
        justify-content: space-between;
        transform: none; 
        box-sizing: border-box;
    }
}