* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
}


    



.cabeza {
    background-color: lightskyblue;
    position: fixed;
    z-index: 2;
}
.cuerpito {
    
    position: relative;
    top: 75px;}